# Local/Vercel environment variables
# Never put real secrets in this file.

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_PUBLIC_CHANNEL=KAELHAX_MARKET

APP_SESSION_SECRET=

KV_REST_API_URL=
KV_REST_API_TOKEN=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
